body {
  background-color: #B3CEAD;
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  border: 4px solid black;
  border-radius: 20px;
  background-color: #eeeeee;
  text-align: center;
  padding: 8px;
  font-weight: normal;
  font-size: 3em;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

strong {
  text-decoration: underline;
}

/* ----------Carousel Styling----------- */

#myCarousel {
  background-color: #C0ADCE;
  background-image: linear-gradient(
    #D2D2D2, #A5BCCA
    );/*#C0ADCE*/
}

.carousel-indicators {
  bottom: 0;

}

.carousel-indicators .active {
  background-color: #B3CEAD;
}

.carousel-indicators li {
  border-color: #222222;
  border-width: 2px;
}

#myCarousel {
  height: 300px;
  width: auto;
  overflow: hidden;
}

#myCarousel h2 {
  text-align: center;
}

#myCarousel p {
  text-align: center;
}
/* Hides Carousel Controls when not moused over */
.carousel .carousel-control {
  visibility: hidden;
}

.carousel:hover .carousel-control {
   visibility: visible;
 }

/* ----------Sidebar Styling----------- */

.right-sidebar {
  background-color: #A5BCCA; /*#C0ADCE;*/
  float: right;
  width: 28%;
  padding-right: 8px;
}

img#portrait {
  height: 200px;
  width: auto;
  align-self: center;
  border-radius: 50%;
  float: left;
  padding: 4px;
}

.right-sidebar h4 {
  text-align: left;
}

/* -----------Loose Text Styling------------ */

.loose p {
  text-align: center;
  font-size: 1.3em;
}

/* -----------List Styling----------- */

ul.projects-tier-1 {
  list-style-type: none;
}

.projects-tier-1 li {
  font-size: 1.1em;
}

.ProjLink {
  text-align: center;
  padding: 30px;
}

li.projects-tier-4 {
  padding: 5px;
  color: black;
}

li.projects-tier-5 {
  margin: 0px 10px 0px 10px;
}
