body {
  background-color: #B3CEAD;
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  border: 4px solid black;
  border-radius: 20px;
  background-color: #eeeeee;
  text-align: center;
  padding: 8px;
  font-weight: normal;
  font-size: 3em;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

/* Carousel Styling */

#myCarousel {
  background-color: #C0ADCE;
  background-image: linear-gradient(
    #D2D2D2, #A5BCCA
    );/*#C0ADCE*/
}

.carousel-indicators {
  bottom: 0;

}

.carousel-indicators .active {
  background-color: #B3CEAD;
}

.carousel-indicators li {
  border-color: #222222;
  border-width: 2px;
}

#myCarousel {
  height: 300px;
  width: auto;
  overflow: hidden;
}

#myCarousel h2 {
  text-align: center;
}

#myCarousel p {
  text-align: center;
}

.carousel .carousel-control {
  visibility: hidden;
}

.carousel:hover .carousel-control {
   visibility: visible;
 }

/* Sidebar Styling*/

.right-sidebar {
  background-color: #A5BCCA; /*#C0ADCE;*/
  float: right;
  width: 28%;
  padding-right: 8px;
}

img#portrait {
  height: 200px;
  width: auto;
  align-self: center;
  border-radius: 50%;
  float: left;
  padding: 4px;
}

.right-sidebar h4 {
  text-align: center;
}
