body {
  background-color: #B3CEAD;
}

h1 {
  border: 4px solid black;
  border-radius: 20px;
  background-color: #eeeeee;
  text-align: center;
  padding: 8px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
  font-size: 3em;
}

/* Carousel Styling */
#myCarousel {
  background-color: #C0ADCE;
  background-image: linear-gradient(
    #D2D2D2, #C0ADCE
    );
}

.carousel-indicators {
  bottom: 0;

}

.carousel-indicators .active {
  background-color: #B3CEAD;
}

.carousel-indicators li {
  border-color: #222222;
  border-width: 2px;
}
/* sidebar color: #C0ADCE */
